# -----------------------------------------------------------------------------
# written by: Lawrence McDaniel
#             https://lawrencemcdaniel.com
#
# usage:      Shared Python requirements for AWS Lambda functions.
#             Create a virtual environment in the root of this repository
#             named `venv`. Terraform modules will look for and include these
#             requirements in the zip package for this layer.
# -----------------------------------------------------------------------------

# generative AI requirements
# --------------------------
openai==1.23.6

# general requirements
# --------------------------
pydantic==2.7.0
pydantic-settings==2.2.1
python-dotenv==1.0.1
python-hcl2==4.3.3
