# Jupyter Notebook
.ipynb_checkpoints

.DS_Store
#  Local .terraform directories
.terraform/
.env
lambda_dist_pkg
*.zip
__pycache__
.pytest_cache

# Python
venv
.venv
.pytest_cache
*.pyc
*.pyo
*.pyd
*.swp
*.log

# .tfstate files
.terraform.lock.hcl
*.tfstate
*.tfstate.*


# ignore this file
!tfmodule-template.tf

# tardigrade-ci
tardigrade-ci/
.tardigrade-ci

# go tests
tests/go.*

# ReactJS
client/node_modules/
node_modules

package-lock.json
