.DS_Store
#  Local .terraform directories
.terraform/
venv
.venv
.env
lambda_dist_pkg
*.zip

# .tfstate files
*.tfstate
*.tfstate.*


# ignore this file
!tfmodule-template.tf

# tardigrade-ci
tardigrade-ci/
.tardigrade-ci

# go tests
tests/go.*
