# -----------------------------------------------------------------------------
# written by: Lawrence McDaniel
#             https://lawrencemcdaniel.com
#
# usage:      Python requirements for AWS Lambda functions. Create a virtual
#             environment in the root of this repository named `venv`. Terraform
#             modules will look for and include these requirements in the zip
#             packages for each Python-based Lambda function.
# -----------------------------------------------------------------------------

# dev and test
# ------------
boto3==1.28
pytest==7.4.3
pytest_mock==3.12.0
flake8==6.1.0

# production
# ------------
python-dotenv==1.0.0
openai==1.1.1
langchain==0.0.331
langchain-experimental==0.0.37
pinecone-client==2.2.4

# local packages
./api/terraform/python/layer_genai/openai_utils
