# -----------------------------------------------------------------------------
# written by: Lawrence McDaniel
#             https://lawrencemcdaniel.com
#
# usage:      Python requirements for AWS Lambda functions. Create a virtual
#             environment in the root of this repository named `venv`. Terraform
#             modules will look for and include these requirements in the zip
#             packages for each Python-based Lambda function.
# -----------------------------------------------------------------------------

# dev and test
# ------------
boto3==1.35.10
botocore>=1.35.10
pytest==8.3.2
pytest_mock==3.14.0
requests==2.32.3

# Code linters, formatters, and security scanners
# ------------
black==24.8.0
flake8==7.1.1
flake8-coding==1.3.2
pre-commit==3.8.0
isort==5.13.2
mypy==1.11.2
pylint==3.2.6
bandit==1.7.9
pydocstringformatter==0.7.3
tox==4.15.1
codespell==2.3.0
coverage==7.5.4

# Lambda layer: openai
# ------------
openai==1.43.0

# Lambda layer: common
# ------------
python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.5.2
python-hcl2==4.3.4

# Lambda layer: langchain
# ------------
langchain
langchain-openai==0.1.23
#langchain-experimental

# Lambda layer: nlp
# ------------
python-Levenshtein==0.26.0
pyyaml

# weather function
googlemaps==4.10.0
openmeteo-requests==1.1.0
requests-cache==1.1.1
retry-requests==2.0.0
