# -----------------------------------------------------------------------------
# written by: Lawrence McDaniel
#             https://lawrencemcdaniel.com
#
# usage:      Shared Python requirements for AWS Lambda functions.
#             Create a virtual environment in the root of this repository
#             named `venv`. Terraform modules will look for and include these
#             requirements in the zip package for this layer.
# -----------------------------------------------------------------------------
python-dotenv==1.0.0
openai==1.3.5
langchain==0.0.340
langchain-experimental==0.0.42
pinecone-client==2.2.4
