# -----------------------------------------------------------------------------
# written by: Lawrence McDaniel
#             https://lawrencemcdaniel.com
#
# usage:      Shared Python requirements for anything requiring Pandas or NumPy
# -----------------------------------------------------------------------------

pandas==0.0.1
