# -----------------------------------------------------------------------------
# written by: Lawrence McDaniel
#             https://lawrencemcdaniel.com
#
# usage:      Shared Python requirements for AWS Lambda functions.
#             Create a virtual environment in the root of this repository
#             named `venv`. Terraform modules will look for and include these
#             requirements in the zip package for this layer.
# -----------------------------------------------------------------------------

# generative AI requirements
# --------------------------
langchain
#langchain-experimental
langchain-openai==0.3.32
