


body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.10);
}

.cs-message-separator::before, .cs-message-separator::after {
  background-color: lightgray !important;
}

.cs-conversation-header {
  text-align: center;
}
